<meta name="viewport" content="initial-scale=1, maximum-scale=1">

<h1>A : socle</h1>

<audio controls src="/voix/a/before.mp3" id="before"></audio>
<audio controls src="/voix/a/main.mp3" id="main"></audio>

<script src="lib/jquery-3.4.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect('http://<%= ip; %>:<%= port; %>');

  $(function(){

    var before = $('#before')[0];
    var main = $('#main')[0];

    socket.on('a/before/play', function () {
      before.play();
    });

    socket.on('a/before/pause', function () {
      before.pause();
    });

    socket.on('a/before/playfromstart', function () {
      before.currentTime = 0.001;
      before.play();
    });




    socket.on('a/main/play', function () {
      main.play();
    });

    socket.on('a/main/pause', function () {
      main.pause();
    });

    socket.on('a/main/playfromstart', function () {
      main.currentTime = 0.001;
      main.play();
    });


  });

  const scale = (num, in_min, in_max, out_min, out_max) => {
    return Math.min(Math.max((num - in_min) * (out_max - out_min) / (in_max - in_min) + out_min, out_min), out_max);
  }
</script>
